body {
  background-color: #222;
  font-family: sans-serif;
  position: relative;

  display: flex;
  align-items: start;
  gap: 2rem;
}

button {
  background-color: #000;
  border: 1px solid #666;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  font-size: inherit;
  padding: 0.5rem 0.75rem;
}

ul {
  background-color: #000;
  border: 1px solid #666;
  border-radius: 1rem;
  color: #fff;
  list-style: none;
  margin: 0;
  padding: 0.375rem 0;
  position: absolute;

  display: inline-flex;
  flex-direction: column;
  gap: 0.25rem;
}

li button {
  border: none;
  padding: 0.25rem 1rem;
  width: 100%;
  text-align: start;
}

li button:hover {
  color: #c8f;
}

.content-a,
.content-a button {
  background-color: #500;
}

.content-b,
.content-b button {
  background-color: #005;
}
