body {
  background-color: #222;
  font-family: sans-serif;

  display: flex;
  align-items: start;
}

button {
  background-color: #000;
  border: 1px solid #666;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  font-size: inherit;
  padding: 0.5rem 0.75rem;
}

ul {
  background-color: #000;
  border: 1px solid #666;
  border-radius: 1rem;
  color: #fff;
  list-style: none;
  margin: 0;
  padding: 0.375rem 0;

  display: inline-block;
}

li button {
  border: none;
  padding: 0.25rem 1rem;
  width: 100%;
  text-align: start;
}

li button:hover {
  color: #c8f;
}
